body{
    background-color: aliceblue !important;
}


.navbar-toggler-icon{
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30' %3e%3cpath stroke='rgb%289, 150,180, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") !important;
}

.navbar-toggler{
    border: 1px solid white!important;
}

.textoMenu{
    color: #02C9FF!important;
}
.fondoDatos{
    background-image: url("../img/fondoDatos.jpg") !important;
    background-repeat: no-repeat;
    border-radius: 15px;
}

.descripcion{
    color: #02C9FF;
}

.nombre{
    font-family: 'Balsamiq Sans', cursive;
    font-size: 50px;
}

.diseñador{
    font-family: 'Shadows Into Light', cursive;
}

.habilidades{
    font-family: 'Rubik', sans-serif;
}
.bg-bootstrap{
    background-color: #7509F6 !important;
}

.bg-wordpress{
    background-color: #1B769C !important;
}

.bg-elementor{
    background-color: #672E6E !important;
}

.bg-photoshop{
    background-color: #02C9FF !important;
}

.bg-premier{
    background-color: #9A9AFF !important;
}
footer{
    font-family: 'Balsamiq Sans', cursive;
    
}

.botones{
    background-color: white !important;
    color: #1B769C !important;
}

.textoEtiquetas{
    color:#02C9FF !important;
}

.enviar{
    background-color: #02C9FF !important ;
    color: white !important;
}